### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [146]:
import pandas as pd
import numpy as np

file = "../Downloads/04-Pandas_homework_HeroesOfPymoli_Resources_purchase_data.csv"

purchase_data = pd.read_csv(file)

## Player Count

* Display the total number of players

In [72]:
player_count = len(purchase_data["SN"].value_counts())
pd.DataFrame([player_count], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [147]:
total_unique_items = purchase_data['Item ID'].nunique()
average_price = (purchase_data['Price'].sum()/purchase_data['Price'].count()).round(2)
total_purchases = purchase_data['Price'].count()
total_revenue = purchase_data["Price"].sum()

total_analysis = pd.DataFrame({"Number of Unique Items": [total_unique_items], 
                                  "Average Price": [average_price],
                                  "Number of Purchases": [total_purchases],
                                  "Total Revenue": [total_revenue]}, 
                                  columns= ["Number of Unique Items", 
                                            "Average Price",
                                            "Number of Purchases", 
                                            "Total Revenue"])
total_analysis.style.format({"Average Price": "${:.2f}", 
                                "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [129]:
gender_groupby = purchase_data.groupby('Gender')['SN'].nunique().reset_index()
gender_groupby['Percentage of Players'] = 100 * gender_groupby['SN']/gender_groupby['SN'].sum()
gender_summary = gender_groupby[['Gender', 'Percentage of Players','SN' ]].sort_values(['Percentage of Players'],ascending = False)
gender_summary = gender_summary.reset_index(drop=True)

gender_summary['Percentage of Players'] = gender_summary['Percentage of Players'].map("{:.2f}%".format)

gender_demos_summary = gender_summary.set_index('Gender')
gender_demos_summary = gender_demos_summary.rename(columns = {'SN': 'Total Count'})
gender_demos_summary

                      Percentage of Players  Total Count
Gender
Male                                 84.03%          484
Female                               14.06%           81
Other / Non-Disclosed                 1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [114]:
male_purchases = purchase_data[purchase_data["Gender"] == "Male"]["Price"].count()
female_purchases = purchase_data[purchase_data["Gender"] == "Female"]["Price"].count()
other_purchases = total_purchases - male_purchases - female_purchases
male_price_avg = purchase_data[purchase_data["Gender"] == "Male"]['Price'].mean()
female_price_avg = purchase_data[purchase_data["Gender"] == "Female"]['Price'].mean()
other_price_avg = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
male_price_total = purchase_data[purchase_data["Gender"] == "Male"]['Price'].sum()
female_price_total = purchase_data[purchase_data["Gender"] == "Female"]['Price'].sum()
other_price_total = purchase_data[purchase_data["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
total_male_avg = male_price_total/malecount
total_female_avg = female_price_total/femalecount
total_other_avg = other_price_total/othercount

gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                   "Purchase Count": [male_purchases, 
                                                      female_purchases, 
                                                      other_purchases],
                                   "Average Purchase Price": [male_price_avg, 
                                                              female_price_avg, 
                                                              other_price_avg], 
                                   "Total Purchase Value": [male_price_total, 
                                                            female_price_total, 
                                                            other_price_total],
                                   "Avg Total Purchases per Person": [total_male_avg, 
                                                                      total_female_avg, 
                                                                      total_other_avg]}, 
                                    columns = 
                                        ["Gender", 
                                         "Purchase Count", 
                                         "Average Purchase Price", 
                                         "Total Purchase Value", 
                                         "Avg Total Purchases per Person"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", 
                                    "Total Purchase Value": "${:.2f}", 
                                    "Avg Total Purchases per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [145]:
bins = [0,10,15,20,25,30,35,40,200]
bin_names = ['Under 10', 
             '10 - 14', 
             '15 - 19', 
             '20 - 24', 
             '25 - 29', 
             '30 - 34', 
             '35 - 39', 
             'Over 40']

binner = purchase_data.copy()
binner["Age Groups"] = pd.cut(binner["Age"], bins, labels=bin_names)
group_bin = binner.groupby(["Age Groups"])

binner_count = group_bin["SN"].count()
count_total = purchase_data["SN"].count()
percentage = (binner_count / count_total) * 100
percentage

age_percentage = pd.DataFrame({"Total Count": binner_count,
                               "Percentage of Players": percentage})

age_percentage["Percentage of Players"] = age_percentage["Percentage of Players"].map("{:.2f}%".format)
age_percentage.head(10)

           Percentage of Players  Total Count
Age Groups
Under 10                   4.10%           32
10 - 14                    6.92%           54
15 - 19                   25.64%          200
20 - 24                   41.67%          325
25 - 29                    9.87%           77
30 - 34                    6.67%           52
35 - 39                    4.23%           33
Over 40                    0.90%            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:
purchase_0_10 = purchase_data[purchase_data["Age"] < 10].count()[0]
purchase_11_14 = purchase_data[(purchase_data["Age"] >= 10) & (purchase_data["Age"] <= 14)].count()[0]
purchase_15_19 = purchase_data[(purchase_data["Age"] >= 15) & (purchase_data["Age"] <= 19)].count()[0]
purchase_20_24 = purchase_data[(purchase_data["Age"] >= 20) & (purchase_data["Age"] <= 24)].count()[0]
purchase_25_29 = purchase_data[(purchase_data["Age"] >= 25) & (purchase_data["Age"] <= 29)].count()[0]
purchase_30_34 = purchase_data[(purchase_data["Age"] >= 30) & (purchase_data["Age"] <= 34)].count()[0]
purchase_35_39 = purchase_data[(purchase_data["Age"] >= 35) & (purchase_data["Age"] <= 39)].count()[0]
purchase_40 = purchase_data[purchase_data["Age"] >= 40].count()[0]
purchases_a = [purchase_0_10, 
               purchase_11_14, 
               purchase_15_19, 
               purchase_20_24, 
               purchase_25_29, 
               purchase_30_34, 
               purchase_35_39, 
               purchase_40]

total_0_10 = purchase_data.loc[purchase_data['Age'] < 10, 'Price'].sum()
total_11_14 = purchase_data.loc[(purchase_data['Age'] >= 10) & (purchase_data['Age'] <=14), 'Price'].sum()
total_15_19 = purchase_data.loc[(purchase_data['Age'] >= 15) & (purchase_data['Age'] <=19), 'Price'].sum()
total_20_24 = purchase_data.loc[(purchase_data['Age'] >= 20) & (purchase_data['Age'] <=24), 'Price'].sum()
total_25_29 = purchase_data.loc[(purchase_data['Age'] >= 25) & (purchase_data['Age'] <=29), 'Price'].sum()
total_30_34 = purchase_data.loc[(purchase_data['Age'] >= 30) & (purchase_data['Age'] <=34), 'Price'].sum()
total_35_39 = purchase_data.loc[(purchase_data['Age'] >= 35) & (purchase_data['Age'] <=39), 'Price'].sum()
total_40 = purchase_data.loc[purchase_data['Age'] >= 40, 'Price'].sum()
totals_a = [total_0_10, 
            total_11_14, 
            total_15_19, 
            total_20_24, 
            total_25_29, 
            total_30_34, 
            total_35_39, 
            total_40]

avg_price_a = [total_0_10/purchase_0_10, 
               total_11_14/purchase_11_14, 
               total_15_19/purchase_15_19, 
               total_20_24/purchase_20_24, 
               total_25_29/purchase_25_29,
               total_30_34/purchase_30_34, 
               total_35_39/purchase_35_39, 
               total_40/purchase_40]

avg_per_person_a = [total_0_10/age_10, 
                    total_11_14/age_14, 
                    total_15_19/age_19, 
                    total_20_24/age_24, 
                    total_25_29/age_29, 
                    total_30_34/age_34,
                    total_35_39/age_39, 
                    total_40/age_40]

puchase_analysis_a = {"Purchase Count": purchases_a,
                      "Average Purchase Price": avg_price_a,
                      "Total Purchase Value": totals_a,
                      "Avg Total Purchase per Person": avg_per_person_a
}

purchase_analysis_a_df = pd.DataFrame(puchase_analysis_a)
purchase_analysis_a_df = purchase_analysis_a_df[['Purchase Count', 
                                                 'Average Purchase Price', 
                                                 'Total Purchase Value',
                                                 'Avg Total Purchase per Person']]
purchase_analysis_a_df.index = (["<10", 
                                 "10-14",
                                 "15-19",
                                 "20-24",
                                 "25-29",
                                 "30-34",
                                 "34-39",
                                 "40+"])

purchase_analysis_a_df.style.format({"Average Purchase Price": "${:.2f}", 
                                     "Avg Total Purchase per Person": "${:.2f}",
                                     "Total Purchase Value":"${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
spender_total_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
spender_purchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
spender_purchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

spender_total_purchase.columns=["Total Purchase Value"]

join_one = spender_total_purchase.join(spender_purchase_count, how="left")
join_one.columns=["Total Purchase Value", 
                  "Purchase Count"]

join_two = join_one.join(spender_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", 
                  "Purchase Count", 
                  "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", 
                            "Average Purchase Price", 
                            "Total Purchase Value"]]

top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", 
                                 "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [142]:
prep_one = purchase_data.groupby("Item Name").sum().reset_index()
prep_two = purchase_data.groupby("Item ID").sum().reset_index()
prep_three = purchase_data.groupby("Item Name").count().reset_index()

merge_one = pd.merge(prep_one, prep_two, on="Price")
merge_two = pd.merge(prep_three, merge_one, on="Item Name")

merge_two["Gender"] = (merge_two["Price_y"]/merge_two["Item ID"]).round(2)

merge_two_final = merge_two.rename(columns={"Age": "Purchase Count", 
                                            "Gender": "Item Price", 
                                            "Item ID": "null", 
                                            "Price_y": "Total Purchase Value", 
                                            "Item ID_y": "Item ID"})

clean_df = merge_two_final[["Item ID", 
                            "Item Name", 
                            "Purchase Count", 
                            "Item Price", 
                            "Total Purchase Value"]]

prep_df = clean_df.set_index(['Item ID', 
                              'Item Name'])
final_df = prep_df.sort_values('Purchase Count', ascending=False).head(6)
final_df.style.format({"Item Price": "${:.2f}", 
                       "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [139]:
max_df = prep_df.sort_values('Total Purchase Value', ascending=False).head()
max_df.style.format({"Item Price": "${:.2f}", 
                     "Total Purchase Value": "${:.2f}"})